body {
  margin: 0px;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.chess-board {
  display: flex;
  flex-direction: column;
}

.chess-row, .chess-letter-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chess-field {
  border: solid 1px #333;
  border-collapse: collapse;
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-field.dark {
  background-color: rgb(222, 188, 102);
}

.chess-field.light {
  background-color: rgb(255, 255, 255);
}

.chess-letter-field {
  border: solid 1px white;
  width: 5em;
  height: 2em;
  display: flex;
  justify-content: center;
}

.chess-letter-field.start {
  align-items: flex-end;
  padding-bottom: 0.2em;
}

.chess-letter-field.end {
  align-items: flex-start;
  padding-top: 0.2em;
}

.chess-number-field {
  border: solid 1px white;
  width: 2em;
  height: 5em;
  display: flex;
  align-items: center;
}

.chess-number-field.start {
  justify-content: flex-end;
  padding-right: 0.2em;
}

.chess-number-field.end {
  justify-content: flex-start;
  padding-left: 0.2em;
}

.info-turn {

  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}